<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecosystem's Tambola</title>
</head>
<body>
<div>
    <h1 style="text-align: center">Ecosystem's Tambola Registration</h1>
    <div style="display: flex; justify-content: center">
        <form action="/send_ticket" method="post">
            <div>
                <label>
                    <input type="email" name="username" placeholder="Email Address" style="height: 30px; width: 160px">
                    <br/>
                    <div style="font-size: 0.8em">Format: username@gmail.com</div>
                </label>
            </div>
            <div style="margin-top: 10px">
                <label>
                    <input type="text" name="code" placeholder="Game Code" style="height: 30px; width: 160px">
                    <br/>
                    <div style="font-size: 0.8em">Ask presenter for the code</div>
                </label>
            </div>
            <div>
                <input type="submit" value="Send" style="width: 170px; height: 30px; margin-top: 10px">
            </div>
        </form>
    </div>
</div>
</body>
</html>
