<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECOSYSTEMS Tambola Presenter</title>
</head>
<body style="background-color: aliceblue;">
<h1 style="text-align: center">ECOSYSTEM'S Tambola</h1>

<div style="flex-direction: row;display: flex;">
    <div style="flex: 1;justify-content: center;display: flex;">
        {{ matrix | safe }}
    </div>
    <div style="flex: 1;display: grid;justify-content: center;">
        <div style="flex: 1; display: flex; flex-direction: column">
            <div style="text-align: center;width: max-content;padding: 10px;border: double black;height: max-content;">
                <div>Current Number</div>
                <div style="font-size: 5em;">
                    {{ current }}
                </div>
            </div>
            <div style="flex: 1; padding-top: 20px">
                <div>Enter Next Number</div>
                <div>
                    <form method="post">
                        <div>
                            <label>
                                <input type="number" min="1" max="90" autofocus name="number"
                                       style="height: 100px;width: 120px;text-align: center;font-size: 3em;margin: 10pX auto;">
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Submit" style="width: 130px;font-size: 1.5em;cursor: pointer;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
